html, body {
    margin: 0 !important;
    height: 100% !important;
}
.center{
    text-align: center;
    color: white;
    padding-top: 100px;
    font-family: 'Stalinist One', cursive;
}
.center a{
    color: lightblue !important;
    text-decoration: underline;
    font-family: 'Stalinist One', cursive;
    margin: 5px;
}
.no-overflow{
    overflow: hidden !important;
}
.center-loose{
    text-align: center;
    color: white;
    font-family: 'Stalinist One', cursive;
}
.radar-grid{
    background-image: url(https://s3.us-east-2.amazonaws.com/smartsigninteractive/radarbackgrounddone.png);
}
.homepic{
    background-image: url(https://s3.us-east-2.amazonaws.com/smartsigninteractive/dprkmc.png);
}
.background {
    position: fixed;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
.background-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.radar-background {
    position: fixed;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.radar{
    height: 100%;
    /*background-color: black;*/
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background-color: black;*/
    overflow: hidden;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: relative;
    /*left: 50%;*/
    /*margin-left: -25px;*/
    /*top: 50%;*/
    /*margin-top: -25px;*/
    border-radius: 50%;
    border: 2px solid #fff;
    animation: radar 2s infinite;
    -webkit-animation: radar 2s infinite;
    -webkit-transition: all ease-in-out;
    transition: all ease-in;
}

@keyframes radar {
    1% {
        width: 51px;
        height: 51px;
        margin-left: -25.5px;
        margin-top: -25.5px;
        border-color: green;
    }
    100% {
        width: 1600px;
        height: 800px;
        margin-left: -400px;
        margin-top: -400px;
        border-color: green;
    }
}

/*mobile responsive for youtube video*/
@media only screen and (max-width: 768px) {
    .iframe-responsive{
        width:90%;
        height:90%;
    }
}
